/*html {
  max-width: 50%;
  margin: auto;
}*/

.year-title {
  text-align: center;
}

.month-container {
  /*text-align: center;*/
  margin-bottom: 2rem;
}
.button-container {
  text-align: center;
}

.today {
  background-color: pink;
}

button {
  font-size: 1.2rem;
  margin: 10px;
}

table {
    border-collapse: collapse;
    empty-cells: hide;
}

td {
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    width: 1.5in;
}

th {
    font-size: 24px;
    height: 0.5in;
    vertical-align: bottom;
}

.long-month-tr {
  height: 1.0in;
}

.short-month-tr {
  height: 1.2in;
}

tbody tr:not(:has(td:not(:empty))) {
  display: none;
}

.holiday-name {
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  text-align: right;
  vertical-align: top;
}

.hide {
    display: none;
}


@media print {
    @page {
        size: letter landscape;
    }

    .month-container {
        break-after: page;
    }

    button {
        display: none;
    }
}
