table {
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  /*border: 1px solid black;*/
  /*width: 4in;*/
  /*border-bottom-color: black;*/
}
tr {
  /*height: 5.2mm;*/
  /*border: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
}

/*
td:first-child {
  border-bottom: 1px solid black;
}
td:last-child {
  border-bottom: 1px solid black;
}
*/

.weekly-line-large {
  font-weight: bold;
  height: 10mm;
}

.weekly-line:first-child {
  border-bottom: 1px solid black;
  /*height: 5.2mm;*/
}

.weekly-line:last-child {
  border-bottom: 1px solid black;
}

tr:has(.weekly-line) {
  height: 5.2mm;
}

.large-col {
  width: 5.5in;
}
.small-col {
  width: 6mm;
}

.mini-cal {
  /*border: 1px solid black;*/
  /*
  width: 25mm;
  height: 25mm;
  */
  font-size: 12px;
  text-align: center;
  /*border: 1px solid black;*/
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5mm;
  width: 11in;
}



.month-container {
  max-width: 4rem;
  text-align: center;
}

@media print {
  body {
    font-size: 12pt;
    size: letter landscape;
    margin: 0.25in;
    color: #000;
  }
}
